body {
	font-family: Amiri;
	font-size: 18px;
	line-height: 1.6;
	color: #888888;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

body.page1 {
	background-image: url("images/bg/bg1.png");
	text-align: center;
}
body.page2 {
	background-image: url("images/bg/bg2.png");
}
body.page3 {
	background-image: url("images/bg/bg3.png");
}
body.page4 {
	background-image: url("images/bg/bg4.png");
}
body.page5 {
	background-image: url("images/bg/bg5.png");
}
body.page6 {
	background-image: url("images/bg/bg6.png");
}

a {
	-webkit-transition: all .25s ease-in;
	-moz-transition: all .25s ease-in;
	-o-transition: all .25s ease-in;
	transition: all .25s ease-in;
}
a:hover {
	color: #FFE2C4;
	opacity: 0.4;
}

nav {
	position: fixed;
	width: 580px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	padding-top: 15px;
	text-align: center;
	text-transform: lowercase;
	white-space: nowrap;
	overflow: hidden;
	border-bottom: 2px solid black;
}
nav .preload {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

nav a {
	color: #13203C;
	font-family: Amiri;
	font-size: 24px;
	padding: 5px 20px;
	text-decoration: none;
	text-transform: lowercase;
	white-space: nowrap;
	opacity: 1;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	text-shadow: 0px 0px 10px #FFFFFF;
}
nav .current {
	font-weight: bold;
}

#main {
	color: #000000;
	position: fixed;
	height: 75%;
	width: 400px;
	top: 100px;
	left: 50%;
	padding: 15px;
	overflow-y: scroll;
	animation-name: fade-in-100;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.8s;
}

#mainbg {
	padding: 25px 110px;
	border-radius: 5px;
	position: fixed;
	height: 75%;
	top: 100px;
	width: 40px;
	left: 50%;
	background-color: #FFFFFF;
	opacity: 0.4;
	animation-name: fade-in-40;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
	z-index: -1;
	margin-left: 95px;
	-webkit-box-shadow: 0px 0px 20px 20px #FFFFFF;
	-moz-box-shadow: 0px 0px 20px 20px #FFFFFF;
	-o-box-shadow: 0px 0px 20px 20px #FFFFFF;
	box-shadow: 0px 0px 100px 100px #FFFFFF;
}

#main0 {
	color: #000000;
	font-size: 22px;
	font-weight: bold;
	position: fixed;
	height: auto;
	width: 400px;
	top: 170px;
	left: 50%;
	padding: 15px;
	overflow-y: visible;
	animation-name: fade-in-100;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.8s;
}

#mainbg0 {
	padding: 25px 110px;
	border-radius: 5px;
	position: fixed;
	height: 10%;
	top: 170px;
	width: 40px;
	left: 50%;
	background-color: #FFFFFF;
	opacity: 0.4;
	animation-name: fade-in-40;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
	z-index: -1;
	margin-left: 95px;
	-webkit-box-shadow: 0px 0px 20px 20px #FFFFFF;
	-moz-box-shadow: 0px 0px 20px 20px #FFFFFF;
	-o-box-shadow: 0px 0px 20px 20px #FFFFFF;
	box-shadow: 0px 0px 100px 100px #FFFFFF;
}

h1 {
	margin-top: -10px;
	margin-bottom: -24px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}
h2 {
	font-family: La Belle Aurore;
	margin-top: -10px;
	margin-bottom: -20px;
	font-size: 36px;
}
h3 {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: -32px;
}

.headerinfo {
	font-size: 18px;
	text-align: justify;
	text-align-last: center;
	font-weight: normal;
	line-height: 1.35;
	padding: 20px 0px 40px 0px;
}
.headerpadding {
	padding-bottom: 30px;
}

.names {
	font-size: 46px;
	line-height: .85;
	padding: 36px 0px;
	font-family: La Belle Aurore;
	font-weight: bold;
}

footer {
	color: #FFFFFF;
	font-size: 10px;
	opacity: 0.2;
	position: fixed;
	bottom: 5px;
	right: 10px;
	z-index: 999;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
  background: #888888;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

@media only screen and (min-width: 550px) {
}

@keyframes fade-in-100 {
	0% {
		opacity: 0;
	}
	66% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-in-40 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.4;
	}
}
